-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: db_benur
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bop_kolam`
--

DROP TABLE IF EXISTS `bop_kolam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bop_kolam` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `siklus_id` bigint(20) unsigned NOT NULL,
  `keterangan_biaya` varchar(255) NOT NULL,
  `nominal_biaya` int(11) NOT NULL,
  `status` enum('pending','disetujui') NOT NULL DEFAULT 'disetujui',
  `waktu_pencatatan` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bop_kolam_siklus_id_foreign` (`siklus_id`),
  CONSTRAINT `bop_kolam_siklus_id_foreign` FOREIGN KEY (`siklus_id`) REFERENCES `siklus_kolam` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=111 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bop_kolam`
--

LOCK TABLES `bop_kolam` WRITE;
/*!40000 ALTER TABLE `bop_kolam` DISABLE KEYS */;
/*!40000 ALTER TABLE `bop_kolam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_pesanan`
--

DROP TABLE IF EXISTS `detail_pesanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detail_pesanan` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pesanan_id` bigint(20) unsigned NOT NULL,
  `siklus_id` bigint(20) unsigned NOT NULL,
  `kapasitas_kantong_per_sak` int(11) NOT NULL DEFAULT 45,
  `jumlah_sak_dipesan` int(11) NOT NULL DEFAULT 0,
  `kantong_eceran_dipesan` int(11) NOT NULL DEFAULT 0,
  `total_kantong_hitung` int(11) NOT NULL DEFAULT 0,
  `total_kantong_riil_muat` int(11) NOT NULL DEFAULT 0,
  `konversi_per_kantong` int(11) NOT NULL DEFAULT 0,
  `konversi_per_kantong_aktual` int(11) DEFAULT NULL,
  `waktu_timbang_muat` timestamp NULL DEFAULT NULL,
  `harga_per_ekor_kontrak` int(11) NOT NULL,
  `harga_per_ekor_aktual` int(11) NOT NULL,
  `subtotal_kotor` bigint(20) NOT NULL DEFAULT 0,
  `diskon_pembulatan_manual` int(11) NOT NULL DEFAULT 0,
  `waktu_kalkulasi_final` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `detail_pesanan_pesanan_id_foreign` (`pesanan_id`),
  CONSTRAINT `detail_pesanan_pesanan_id_foreign` FOREIGN KEY (`pesanan_id`) REFERENCES `pesanan` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_pesanan`
--

LOCK TABLES `detail_pesanan` WRITE;
/*!40000 ALTER TABLE `detail_pesanan` DISABLE KEYS */;
/*!40000 ALTER TABLE `detail_pesanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grade_benur`
--

DROP TABLE IF EXISTS `grade_benur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grade_benur` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_grade` varchar(255) NOT NULL,
  `kode` varchar(255) DEFAULT NULL,
  `deskripsi` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `grade_benur_nama_grade_unique` (`nama_grade`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grade_benur`
--

LOCK TABLES `grade_benur` WRITE;
/*!40000 ALTER TABLE `grade_benur` DISABLE KEYS */;
INSERT INTO `grade_benur` VALUES (1,'UNGGULAN',NULL,NULL,'2026-07-16 03:56:55','2026-07-16 03:56:55'),(32,'A',NULL,NULL,'2025-12-27 05:00:00','2025-12-27 05:00:00');
/*!40000 ALTER TABLE `grade_benur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jenis_benur`
--

DROP TABLE IF EXISTS `jenis_benur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jenis_benur` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) NOT NULL,
  `kode` varchar(255) DEFAULT NULL,
  `deskripsi` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `jenis_benur_nama_unique` (`nama`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jenis_benur`
--

LOCK TABLES `jenis_benur` WRITE;
/*!40000 ALTER TABLE `jenis_benur` DISABLE KEYS */;
INSERT INTO `jenis_benur` VALUES (1,'Vaname',NULL,NULL,'2026-07-16 03:56:37','2026-07-16 03:56:37');
/*!40000 ALTER TABLE `jenis_benur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `keranjang_sementara`
--

DROP TABLE IF EXISTS `keranjang_sementara`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `keranjang_sementara` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `kolam_id` bigint(20) unsigned NOT NULL,
  `jumlah_sak` int(11) NOT NULL DEFAULT 0,
  `kantong_eceran` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `keranjang_sementara_user_id_foreign` (`user_id`),
  KEY `keranjang_sementara_kolam_id_foreign` (`kolam_id`),
  CONSTRAINT `keranjang_sementara_kolam_id_foreign` FOREIGN KEY (`kolam_id`) REFERENCES `master_kolam` (`id`) ON DELETE CASCADE,
  CONSTRAINT `keranjang_sementara_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `keranjang_sementara`
--

LOCK TABLES `keranjang_sementara` WRITE;
/*!40000 ALTER TABLE `keranjang_sementara` DISABLE KEYS */;
INSERT INTO `keranjang_sementara` VALUES (1,21,1,1,0,'2026-07-16 04:16:29','2026-07-16 04:16:29');
/*!40000 ALTER TABLE `keranjang_sementara` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `log_kalkulasi_pesanan`
--

DROP TABLE IF EXISTS `log_kalkulasi_pesanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `log_kalkulasi_pesanan` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pesanan_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `aksi` varchar(255) NOT NULL,
  `data_sebelum` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`data_sebelum`)),
  `data_sesudah` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`data_sesudah`)),
  `catatan` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `log_kalkulasi_pesanan_pesanan_id_foreign` (`pesanan_id`),
  KEY `log_kalkulasi_pesanan_user_id_foreign` (`user_id`),
  CONSTRAINT `log_kalkulasi_pesanan_pesanan_id_foreign` FOREIGN KEY (`pesanan_id`) REFERENCES `pesanan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `log_kalkulasi_pesanan_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `log_kalkulasi_pesanan`
--

LOCK TABLES `log_kalkulasi_pesanan` WRITE;
/*!40000 ALTER TABLE `log_kalkulasi_pesanan` DISABLE KEYS */;
/*!40000 ALTER TABLE `log_kalkulasi_pesanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_harga`
--

DROP TABLE IF EXISTS `master_harga`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `master_harga` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `jenis_id` bigint(20) unsigned NOT NULL,
  `ukuran_id` bigint(20) unsigned NOT NULL,
  `grade_id` bigint(20) unsigned NOT NULL,
  `harga_jual` int(11) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `master_harga_jenis_id_foreign` (`jenis_id`),
  KEY `master_harga_ukuran_id_foreign` (`ukuran_id`),
  KEY `master_harga_grade_id_foreign` (`grade_id`),
  CONSTRAINT `master_harga_grade_id_foreign` FOREIGN KEY (`grade_id`) REFERENCES `grade_benur` (`id`) ON DELETE CASCADE,
  CONSTRAINT `master_harga_jenis_id_foreign` FOREIGN KEY (`jenis_id`) REFERENCES `jenis_benur` (`id`) ON DELETE CASCADE,
  CONSTRAINT `master_harga_ukuran_id_foreign` FOREIGN KEY (`ukuran_id`) REFERENCES `ukuran_benur` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_harga`
--

LOCK TABLES `master_harga` WRITE;
/*!40000 ALTER TABLE `master_harga` DISABLE KEYS */;
INSERT INTO `master_harga` VALUES (1,1,1,1,6,'2026-07-16 04:06:47','2026-07-16 04:06:47');
/*!40000 ALTER TABLE `master_harga` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_kolam`
--

DROP TABLE IF EXISTS `master_kolam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `master_kolam` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_kolam` varchar(255) NOT NULL,
  `kapasitas_maksimal` int(11) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `master_kolam_nama_kolam_unique` (`nama_kolam`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_kolam`
--

LOCK TABLES `master_kolam` WRITE;
/*!40000 ALTER TABLE `master_kolam` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_kolam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pesanan`
--

DROP TABLE IF EXISTS `pesanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pesanan` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `nomor_invoice` varchar(255) NOT NULL,
  `status` enum('pending','proses','menunggu_kalkulasi','menunggu_pelunasan','siap_ambil','selesai','batal') NOT NULL DEFAULT 'pending',
  `keterangan_batal` text DEFAULT NULL,
  `nominal_dp_dibayar` int(11) NOT NULL DEFAULT 0,
  `waktu_kunci_dp` timestamp NULL DEFAULT NULL,
  `is_harga_dikunci` tinyint(1) NOT NULL DEFAULT 0,
  `total_pembayaran_final` bigint(20) NOT NULL DEFAULT 0,
  `waktu_pelunasan_final` timestamp NULL DEFAULT NULL,
  `bukti_transfer_dp` varchar(255) DEFAULT NULL,
  `bukti_transfer_pelunasan` varchar(255) DEFAULT NULL,
  `catatan_internal_admin` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pesanan_nomor_invoice_unique` (`nomor_invoice`),
  KEY `pesanan_user_id_foreign` (`user_id`),
  CONSTRAINT `pesanan_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pesanan`
--

LOCK TABLES `pesanan` WRITE;
/*!40000 ALTER TABLE `pesanan` DISABLE KEYS */;
/*!40000 ALTER TABLE `pesanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profil_tambak`
--

DROP TABLE IF EXISTS `profil_tambak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `profil_tambak` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_tambak` varchar(255) NOT NULL,
  `npwp_nib` varchar(255) DEFAULT NULL,
  `nomor_whatsapp` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `alamat` text NOT NULL,
  `nama_bank` varchar(255) NOT NULL,
  `nomor_rekening` varchar(255) NOT NULL,
  `atas_nama` varchar(255) NOT NULL,
  `nominal_dp` int(11) NOT NULL DEFAULT 30,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profil_tambak`
--

LOCK TABLES `profil_tambak` WRITE;
/*!40000 ALTER TABLE `profil_tambak` DISABLE KEYS */;
INSERT INTO `profil_tambak` VALUES (1,'Pak Mahmudi',NULL,'08123456789','asdf@asdfghj.com','12345678','345678','wertyui2345678','2345678',20,'2026-07-16 05:17:28','2026-07-16 05:17:28');
/*!40000 ALTER TABLE `profil_tambak` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `riwayat_sampling`
--

DROP TABLE IF EXISTS `riwayat_sampling`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `riwayat_sampling` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `siklus_id` bigint(20) unsigned NOT NULL,
  `grade_id` bigint(20) unsigned NOT NULL,
  `jumlah_ekor` int(11) NOT NULL,
  `sr_persen` decimal(5,2) NOT NULL,
  `keterangan` varchar(255) DEFAULT NULL,
  `path_foto` varchar(255) DEFAULT NULL,
  `tanggal_sampling` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `riwayat_sampling_siklus_id_foreign` (`siklus_id`),
  KEY `riwayat_sampling_grade_id_foreign` (`grade_id`),
  CONSTRAINT `riwayat_sampling_grade_id_foreign` FOREIGN KEY (`grade_id`) REFERENCES `grade_benur` (`id`),
  CONSTRAINT `riwayat_sampling_siklus_id_foreign` FOREIGN KEY (`siklus_id`) REFERENCES `siklus_kolam` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `riwayat_sampling`
--

LOCK TABLES `riwayat_sampling` WRITE;
/*!40000 ALTER TABLE `riwayat_sampling` DISABLE KEYS */;
INSERT INTO `riwayat_sampling` VALUES (1,1,1,100,95.00,'Sampling Berkala','sampling_realtime/dkr1bZnBuXaKkhRff8ncYkjDFE3QpHSvgthnvHYf.jpg','2026-01-03 04:12:00','2026-07-16 04:12:52','2026-07-16 04:12:52');
/*!40000 ALTER TABLE `riwayat_sampling` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `siklus_kolam`
--

DROP TABLE IF EXISTS `siklus_kolam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `siklus_kolam` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kolam_id` bigint(20) unsigned NOT NULL,
  `jenis_id` bigint(20) unsigned NOT NULL,
  `ukuran_id` bigint(20) unsigned NOT NULL,
  `grade_id` bigint(20) unsigned NOT NULL,
  `modal_awal_rupiah` int(11) NOT NULL,
  `jumlah_tebar_awal` int(11) NOT NULL,
  `stok_tersedia` int(11) NOT NULL,
  `potongan_harga_manual` int(11) NOT NULL DEFAULT 0,
  `waktu_tabur` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `status` enum('aktif','selesai') NOT NULL DEFAULT 'aktif',
  `waktu_kuras` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `siklus_kolam_kolam_id_foreign` (`kolam_id`),
  KEY `siklus_kolam_jenis_id_foreign` (`jenis_id`),
  KEY `siklus_kolam_ukuran_id_foreign` (`ukuran_id`),
  KEY `siklus_kolam_grade_id_foreign` (`grade_id`),
  CONSTRAINT `siklus_kolam_grade_id_foreign` FOREIGN KEY (`grade_id`) REFERENCES `grade_benur` (`id`) ON DELETE CASCADE,
  CONSTRAINT `siklus_kolam_jenis_id_foreign` FOREIGN KEY (`jenis_id`) REFERENCES `jenis_benur` (`id`) ON DELETE CASCADE,
  CONSTRAINT `siklus_kolam_kolam_id_foreign` FOREIGN KEY (`kolam_id`) REFERENCES `master_kolam` (`id`) ON DELETE CASCADE,
  CONSTRAINT `siklus_kolam_ukuran_id_foreign` FOREIGN KEY (`ukuran_id`) REFERENCES `ukuran_benur` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `siklus_kolam`
--

LOCK TABLES `siklus_kolam` WRITE;
/*!40000 ALTER TABLE `siklus_kolam` DISABLE KEYS */;
/*!40000 ALTER TABLE `siklus_kolam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ukuran_benur`
--

DROP TABLE IF EXISTS `ukuran_benur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ukuran_benur` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ukuran` varchar(255) NOT NULL,
  `kode` varchar(255) DEFAULT NULL,
  `deskripsi` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ukuran_benur_ukuran_unique` (`ukuran`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ukuran_benur`
--

LOCK TABLES `ukuran_benur` WRITE;
/*!40000 ALTER TABLE `ukuran_benur` DISABLE KEYS */;
INSERT INTO `ukuran_benur` VALUES (1,'5',NULL,NULL,'2026-07-16 03:56:46','2026-07-16 03:56:46'),(32,'PL5',NULL,NULL,'2025-12-27 05:00:00','2025-12-27 05:00:00');
/*!40000 ALTER TABLE `ukuran_benur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(255) NOT NULL DEFAULT 'customer',
  `last_seen` timestamp NULL DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_last_seen_index` (`last_seen`)
) ENGINE=InnoDB AUTO_INCREMENT=59 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-16 13:59:28
